{% extends 'layout.html' %}
{% block content %}
	<h4 class="mt-2">Dashboard</h4>
	<div class="border-top pt-3"></div>
	<div class="card mt-3 mb-3">
                <h6 class="card-header font-weight-bold text-primary">Docker Engine - Community</h6>
                <div class="row text-center">
                        <div class="col-md-auto text-center">
                                <div class="card-body">
                                <h7 class="card-title font-weight-bold">Docker Version</h7>
                                <p class="card-text">{{ infodict.get('docker_version')}}</p>
                        </div>
                </div>
                <div class="col-md-auto text-center">
                                <div class="card-body">
                                <h7 class="card-title font-weight-bold">API Version</h7>
                                <p class="card-text">{{ infodict.get('docker_api_version')}}</p>
                        </div>
                </div>
                <div class="col-md-auto text-center">
                                <div class="card-body">
                                <h7 class="card-title font-weight-bold">OS</h7>
                                <p class="card-text">{{infodict.get('os')}} - {{infodict.get('arch')}}</p>
                        </div>
                </div>
                <div class="col-md-auto text-center">
                                <div class="card-body">
                                <h7 class="card-title font-weight-bold">Kernel Version</h7>
                                <p class="card-text">{{infodict.get('kernel_version')}}</p>
                        </div>
                </div>
                <div class="col-md-auto text-center">
                                <div class="card-body">
                                <h7 class="card-title font-weight-bold">CPU Core</h7>
                                <p class="card-text">{{ infodict.get('cpuinfo')}}</p>
                        </div>
                </div>
                <div class="col-md-auto text-center">
                                <div class="card-body">
                                <h7 class="card-title font-weight-bold">RAM</h7>
                                <p class="card-text">{{ infodict.get('ramsize') }}</p>
                        </div>
                </div>
                </div>
        </div>

        <!--Refresh Button-->
    	<button type="button" class="btn btn-warning btn-sm float-right text-monospace refreshButton"><span class="fa fa-refresh ml-auto" aria-hidden="true"> Refresh</button>
    	<!--Docker Summry Information -->
		<div class="card-deck mt-5 pt-2">	
			<div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
  				<div class="card-header font-weight-bold"> Local Images</div>
  					<div class="card-body">
    					<h5 class="card-title" id="Show_Image_Count">{{infodict.get('image_count')}}</h5>
    					<a href="#" class="btn btn-primary btn-block refreshButton-image" refresh_image_id="{{infodict.get('image_count')}}">Refresh</a>
  					</div>
  			</div>
  			<div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
  				<div class="card-header font-weight-bold ">Containers</div>
  					<div class="card-body">
    					<h5 class="card-title" id="Show_Container_Count">{{infodict.get('container_count')}}</h5>
    					<a href="#" class="btn btn-primary btn-block refreshButton-container">Refresh</a>
  					</div>
  			</div>
  			<div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
  				<div class="card-header font-weight-bold">Volumes</div>
  					<div class="card-body">
    					<h5 class="card-title" id="Show_Volume_Count">{{infodict.get('volume_count')}}</h5>
    					<a href="#" class="btn btn-primary btn-block refreshButton-volume">Refresh</a>
  					</div>
  			</div>
  			<div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
  				<div class="card-header font-weight-bold">Networks</div>
  					<div class="card-body">
    					<h5 class="card-title" id="Show_Network_Count">{{infodict.get('network_count')}}</h5>
    					<a href="#" class="btn btn-primary btn-block refreshButton-network">Refresh</a>
  					</div>
  			</div>
  		</div>
{% endblock content %}
