{% extends 'layout.html' %}
{% block content %}
	<div class="row">

    <div class="col">
      <h4>Local Images</h4>
    </div>
    <div class="col">
      <form class="form-inline float-right" method="POST" action="http://localhost:5000/pull_image">

        <div class="form-group">
           <input type="text" name="searchimage" class=" form-control form-control-sm mt-1" id="inputPassword2" placeholder="Search ...">
         </div>
         <button type="submit" class="btn btn-primary btn-sm mt-1 ml-2 ">Search Image</button>
      </form>
    </div>  
  </div>    
	<div class="border-bottom mt-1"></div>
	<div class="row">
		<div class="col">
			<!--<button type="button" class="btn btn-sm btn-danger float-right m-2">Remove All</button>--> 
			<button type="button" class="btn btn-sm btn-secondary  m-2">Local Images <span class="badge badge-light imgcount">{{infodict.get('image_count')}}</span></button>
			<button type="button" class="btn btn-warning btn-sm m-2"><span class="fa fa-refresh ml-auto" aria-hidden="true"> Refresh</button>
			
		</div>
	</div>
	<div class="row pt-3">
		<div class="col">
		<table class="table table-hover table-sm" id="tablepaginate">
  			<thead class="thead-dark">
    			<tr>
      				<th scope="col">Image Id</th>
      				<th scope="col">Repository</th>
      				<th scope="col">Size</th>
      				<th scope="col">Action</th>
      				<th scope="col">Details</th>
    			</tr>
  			</thead>
  			<tbody>
  			<!-- Check for Image Count -->
  				{% if infodict.get('image_count') > 0 %}
  					{% for i in apiimage %}	
    					<tr id="ImageRow">
      						<td>{{i['Id'][7:19]}}</td>
      						<td>{{i['RepoTags'][0]}}</td>
      						<td>{{i['Size']}}</td>
      						<td><a href="#" class="badge badge-danger delete-image" onclick="delimage(this)">Delete</a></td>
                  <script type="text/javascript">
                    function delimage(obj)
                    {
                      var imgid = $(obj).closest('tr').find('td:first-child').text();

                      req = $.ajax({
                        url : '/delete_image/'+ imgid,
                        type : "POST" });

                      req.done(function(data){

                        //Check if any error is occured
                        if (data.result == "fail")
                        {
                          alert(data.msg);
                        }
                        else{
                          //Update Image count
                          $('.imgcount').text(data.imagerefresh)
                           console.log(data.result);
                          //Remove selected table row
                          document.getElementById("ImageRow").remove();
                          }
                        });
                    }
                  </script>
      						<td><a href="#">View</a></td>
    					</tr>
    				{% endfor %}	
    			{% else %}	
    				<tr>
      					<td>NA</td>
      					<td>NA</td>
      					<td>NA</td>
      					<td>NA</td>
      					<td>NA</td>
    				</tr>
    			{% endif %}	
  			</tbody>
		</table>
</div>
</div>	
{% endblock content %}