{% extends 'layout.html' %}
{% block content %}
		<a class="badge badge-secondary float-right mt-3  mr-2" href="{{url_for('local_images')}}">Go Back</a>
		<h4 class="mt-2">Local Images >> Pull Image</h4>
		<div class="border-top pt-3"></div>

		{% if len_search_text == 0 %}
			<h6>Search result for {{search_text}} : Not Found</h6>
		{% else %}
			<h6 class="mb-4">Search result for {{search_text}} : {{len_search_text}}</h6>
			<table class="table table-hover table-sm" id="tablepaginate">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Official</th>
						<th scope="col">Automated</th>
						<th scope="col">Ratings</th>
						<th scope="col">Description</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for i in search_text_dict %}
						<tr id="PullImageRow">
							<td>{{i['name']}}</td>
							<td>{{i['is_official']}}</td>
							<td>{{i['is_automated']}}</td>
							<td>{{i['star_count']}}</td>
							<td>{{i['description']}}</td>
							<td><a href="#" class="badge badge-success download-image" id=download-image onclick="pullimage(this)">Pull</a></td>
							<script type="text/javascript">
								function pullimage(obj){
									var imgname = $(obj).closest('tr').find('td:first-child').text();

									req = $.ajax({
										url : '/download_image/'+ imgname.split('/').join(':'),
										type : "POST"
									});
									req.done(function(data){
										console.log(data.result);
										console.log(data.pullresult);
									});
								}
							</script>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
		{% endif %}
{% endblock content %}